@model TrainerModel

@{
    ViewData["Title"] = "Trainer";
}

<h1>Trainer</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">FullName</th>
            <th scope="col">Group</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.T)
        {
            <tr>
                <td>@t.FullName</td>
                <td>@t.GroupTitle</td>
                <td>
                    <form action="/Trainer/Delete/@t.Id">
                        <button type="submit" class="btn btn-danger m-1">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<form action="/Trainer/Insert">
    <div class="d-flex m-1">
        <label class="m-1">FullName:</label>
        <input class="form-control" type="text" name="fullName" required />
        <label class="m-1">Group:</label>
        <select class="form-control" name="groupId" required>
            @foreach (var g in Model.Group.G)
            {
                <option value="@g.Id">@g.Title</option>
            }
        </select>
        <button class="btn btn-success m-1" type="submit">Insert</button>
    </div>
</form>
<form action="/Trainer/Update">
    <div class="d-flex m-1">
        <select class="form-control" name="id" required>
            @foreach (var t in Model.T)
            {
                <option value="@t.Id">@t.FullName</option>
            }
        </select>
        <label class="m-1">Group:</label>
        <select class="form-control" name="groupId" required>
            @foreach (var g in Model.Group.G)
            {
                <option value="@g.Id">@g.Title</option>
            }
        </select>
        <button class="btn btn-secondary m-1" type="submit">Update</button>
    </div>
</form>