@model VisitModel

@{
    ViewData["Title"] = "Visit";
}

<h1>Visit</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">DateArrival</th>
            <th scope="col">DateOfDeparture</th>
            <th scope="col">Client</th>
            <th scope="col">Trainer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.V)
        {
            <tr>
                <td>@v.DateArrival</td>
                <td>@v.DateOfDeparture</td>
                <td>@v.ClientFullName</td>
                <td>@v.TrainerFullName</td>
            </tr>
        }
    </tbody>
</table>
<form action="/Visit/Insert" onsubmit="return validateForm()">
    <div class="d-flex m-1">
        <label class="m-1">DateArrival:</label>
        <input class="form-control" type="text" name="dateArrival" required />
        <label class="m-1">DateOfDeparture:</label>
        <input class="form-control" type="text" name="dateOfDeparture" required />
        <label class="m-1">Client:</label>
        <select class="form-control" name="clientId" id="clientSelect" required>
            <option value="0">Client</option>
            @foreach (var client in Model.Client)
            {
                <option value="@client.Id">@client.FullName</option>
            }
        </select>
        <label class="m-1">TrainerId:</label>
        <select class="form-control" name="trainerId" id="trainerSelect" required>
            <option value="0">Trainer</option>
            @foreach (var t in Model.Trainer.T)
            {
                <option value="@t.Id">@t.FullName</option>
            }
        </select>
        <button class="btn btn-success m-1" type="submit">Insert</button>
    </div>
</form>
<script>
    var clientSelect = document.getElementById("clientSelect");
    var trainerSelect = document.getElementById("trainerSelect");

    clientSelect.addEventListener("change", function () {
        trainerSelect.selectedIndex = 0;
    });

    trainerSelect.addEventListener("change", function () {
        clientSelect.selectedIndex = 0;
    });

    function validateForm() {
        if (clientSelect.value === "0" && trainerSelect.value === "0") {
            alert("Please select either a client or a trainer.");
            return false;
        }
        return true;
    }
</script>